# Disable this for now because apple_support currently relies on a workaround
# that needs to be able to pass a sequence of strings to actions.run_shell's
# 'command'.
build --incompatible_run_shell_command_string=false
